<template name="following">
    <section class="block-list with-icons man">
        <ul>
        {{#each following}}
            <li>
                <img src="{{getUserImage userId}}" alt="">
                <a href="{{pathFor 'garage' _id=userId}}">{{getUserName userId}}</a>
            </li>
        {{/each}}
        </ul>
    </section>
    {{#if isReady}} {{#if hasMoreFollowing}}
    <a class="load-more expand button" href="#">Load More</a> {{/if}} {{else}}
    <div class="loading"></div>
    {{/if}}
</template>
