<template name="followers">
    <section class="block-list with-icons man">
        <ul>
        {{#each followers}}
            <li>
                <img src="{{getUserImage followerId}}" alt="">
                <a href="../garage/{{followerId}}">{{getUserName followerId}}</a>
            </li>
        {{/each}}
        </ul>
    </section>
    {{#if isReady}} {{#if hasMoreFollowers}}
    <a class="load-more expand button tiny" href="#">Load More</a> {{/if}} {{else}}
    <div class="loading">Loading</div>
    {{/if}}
</template>
