<template name="home">
    <div class="grid-block">

        <div class="grid-content">
            <ul class="block-list">
                <li class="darkBg white">
                    <p class="mas"><span class="primaryColor fss">NEWS</span><br>
                    {{latestNews.text}}
                    </p>
                </li>
                {{#each feed}}
                    <li>
                        {{> activities}}
                    </li>
                {{/each}}
            </ul>
            {{#if isReady}} {{#if hasMoreActivities}}
            <a class="load-more expand button tiny" href="#">Load More</a> {{/if}} {{else}}
            <div class="loading"></div>
            {{/if}}
        </div>
    </div>
</template>

