<template name="home">
    {{#nav title='My Custom' black=true}}
    <a href="#" class="nav-item js-attach-quick-image"><i class="fa fa-camera"></i></a> {{/nav}}
    <div class="grid-block">
        <div class="grid-content">
            <div class="bg-image home">
                <h1 class="title-home">
                <img src="../img/app/logo-local.svg" alt="Local Market" />
            </h1>
            </div>

            <section class="block-list">
                <ul>
                <li>
                    <h5>News</h5>
                    <p>{{latestNews.text}}</p>
                </li>
                {{#each activities}} 
                    {{> activity}} 
                    <li>
                        <h5>This is a message</h5>
                        <p>It's a pretty long message, but thats chill, we totes like to read now a days.</p>
                    </li>
                {{else}}
                    <li>
                        <h5>You havent started following anyone yet</h5>
                        <p>Follow your friends and fellow enthusiasts</p>
                    </li>
                {{/each}}
                </ul>
            </section>

        </div>
    </div>
</template>
