<template name="nav">
    <nav class="{{#if black}}dark{{/if}} {{#if transparent}} transparentMenu {{/if}} title-bar">
	    <span class="left">
	      {{#if back}}
	        <a class="nav-item js-back" href="#"><i class="fa fa-chevron-left"></i></a>
	      {{/if}}
	      {{#if logo}}
	        <img class="logoMenu" src="../img/app/logo-local.svg" alt="My Custom" />
	      {{/if}}	       
	    </span>

	    <span class="title center">
	      {{title}}
	    </span>

	    <span class="right">
	      {{> Template.contentBlock }}
	    </span>
    </nav>
    {{initFoundation}}
</template>
