#menu .menu-bar li{
	border-bottom: 1px solid #d0d0d0;
}
.off-canvas.left{
	box-shadow: none;
	border-right: 1px solid #d0d0d0;
}

.title-bar, .title-bar.dark{
	border-bottom:none;
}

.title-bar.transparentMenu{
	position: fixed;
	background-color: transparent;
	width: 100%;
	z-index: 100;
}

.title-bar .logoMenu{
	position: absolute;
	max-width: 70px;
	top: 5px;
	left: 5px;
	z-index: 5;
}