<template name="likes">
    <section class="block-list with-icons man">
    <ul>
    {{#each likes}}
        <li>
            <img src="{{getActivityImage activityId}}" alt="">
            <a href="../activity/{{getActivityId activityId}}">{{getActivityId activityId}}</a>
        </li>
    {{/each}}
    </ul>
    </section>
    {{#if isReady}} {{#if hasMoreLikes}}
    <a class="load-more expand button tiny" href="#">Load More</a> {{/if}} {{else}}
    <div class="loading">Loading</div>
    {{/if}}
</template>
