<template name="likes">
    <ul class="small-block-grid-3">
    {{#each likes}}
    <li class="pan">
        <a class="block" href="../wheels/{{getWheelsId wheelsId}}">
        {{#if getWheelsImage wheelsId}}
            <img class="w100" src="//wit.wurfl.io/w_150/h_150/m_cropbox/{{getWheelsImage wheelsId}}">
        {{/if}}
        {{#if getWheelsVideoImage wheelsId}}
            <img src="//wit.wurfl.io/w_150/h_150/m_cropbox/{{ getWheelsVideoImage wheelsId }}">
        {{/if}}
        </a>

    </li>
    {{/each}}
    </ul>
    {{#if isReady}} {{#if hasMoreLikes}}
    <a class="load-more expand button" href="#">Load More</a> {{/if}} {{else}}
    <div class="loading"></div>
    {{/if}}
</template>
