<template name="appBody">
	{{> overlay}}
	<div id="content-container" class="grid-frame vertical">
		{{> yield}}
		  <ul class="dark man menu-bar icon-top">
			<li><a href="{{pathFor 'home'}}"><img src="/img/app/tabs/i_tab_feed.png">Home</a></li>
			<li><a href="{{pathFor 'search'}}"><img src="/img/app/tabs/i_tab_search.png">Search</a></li>
			<li><a href="#" class="js-attach-quick-image"><img src="/img/app/tabs/i_tab_shot.png">Camera</a></li>
			<li><a href="{{pathFor 'garage' _id=currentUser._id}}"><img src="/img/app/tabs/i_tab_user.png">Garage</a></li>
			<li><a href="{{pathFor 'settings'}}"><img src="/img/app/tabs/i_tab_item.png">Settings</a></li>
		  </ul>
	</div>
	<div class="notifications">
		{{#unless connected}}
		  <div class="notification">
			<span class="icon-sync"></span>
			<div class="title-notification">Trying to connect</div>
		  </div>
		{{/unless}}
		{{#each notifications}}
		  <div class="notification">
			<a class="button tiny js-notification-action">{{action}}</a>
			<div class="title-notification">{{title}}</div>
		  </div>
		{{/each}}
	</div>
	{{initFoundation}}
</template>

