<template name="wheels">
	<section class="block-list">
	<ul>
    {{#each wheels}}
    {{debug}}
    
	<li>
		<a href="wheels/{{_id}}">
			<div class="grid-block shrink">
        <div class="grid-block shrink">
            <div class="image-profile" style="background-image: url('{{image}}')"></div>
        </div>
        <div class="grid-block">
            <div class="grid-content">
                <p class="mbn avenirBlack">{{make}} {{model}}</p>
                <p class="mbn">{{place}}</p>
            </div>
        </div>
    </div>
		</a>
	</li>
	
    

    {{/each}}
    </ul>
	</section>
    {{#if isReady}} {{#if hasMoreWheels}}
    <a class="load-more" href="#">Load More</a> {{/if}} {{else}}
    <div class="loading">Loading</div>
    {{/if}}
</template>
