<template name="wheels_partial">

    {{#each wheels}}
    <a href="{{pathFor 'wheels' _id=_id}}">
			<div class="grid-block shrink">
                {{#if image}}
                    <img class="w100" src="//wit.wurfl.io/w_460/h_550/m_cropbox/{{image}}">
                {{/if}}
                {{#if video}}
                    <img src="//wit.wurfl.io/w_500/h_300/m_cropbox/{{video.snippet.thumbnails.high.url}}">
                {{/if}}
            </div>
            <div class="grid-block">
                <div class="grid-content">
                    <h5 class="mvs"><i class="fa fa-chevron-right right"></i></h5>
                </div>
            </div>
		</a>
    {{/each}}

    {{#if isReady}} {{#if hasMoreWheels}}
    <a class="load-more expand button" href="#">Load More</a> {{/if}} {{else}}
    <div class="loading"></div>
    {{/if}}
</template>
