<template name="wheels_partial">

    {{#each wheels}}
    <a href="../wheels/{{_id}}">
			<div class="grid-block shrink">
                <img src="//wit.wurfl.io/w_500/h_300/m_cropbox/{{image}}">
            </div>
            <div class="grid-block">
                <div class="grid-content">
                    <h5 class="mvs">{{make}} {{model}} <i class="fa fa-chevron-right right"></i></h5>
                </div>
            </div>
		</a>
    {{/each}}

    {{#if isReady}} {{#if hasMoreWheels}}
    <a class="load-more expand button tiny" href="#">Load More</a> {{/if}} {{else}}
    <div class="loading">Loading</div>
    {{/if}}
</template>
