<template name="search">
    <div class="grid-block">
        <div class="grid-content">

            <div class="form-group">
                <label class="title-callout mts">Search</label>
                {{> esInput id="search" index="wheels" placeholder="Search for type, maker, year and more..." }}
                {{> esAutosuggest index="wheels" placeholder="search wheels"}}
                {{> esAutosuggest index="tags" placeholder="Add tags"}}
            </div>


            <ul class="small-block-grid-3 searchGrid">
                {{#esEach index="wheels"}}
                    <li class="pan">
                        <a class="block" href="{{pathFor 'wheels' _id=_id}}">
                            <img class="w100" src="//wit.wurfl.io/w_150/h_150/m_cropbox/{{image}}">
                        </a>
                    </li>
                {{/esEach}}
            </ul>

            {{> esLoadMoreButton index="wheels"}}

            {{#ifEsHasNoResults index="wheels"}}
                <div class="no-results">No results found!</div>
            {{/ifEsHasNoResults}}

            {{#ifEsIsSearching index="wheels"}}
                    <div class="loading"></div>
            {{/ifEsIsSearching}}

        </div>
    </div>
</template>
