<template name="wheels">
	{{debug}}
	{{> nav back=true transparent=true black=true}}
	<div class="grid-block vertical">
		<div class="grid-content">
			<section class="block-list">
		        <ul>
		        	<li>
		        		<img src="//wit.wurfl.io/w_460/h_500/m_cropbox/{{image}}">
		        		<span class="relative">
			        		<a class="userAvatar block" href="../garage/{{userId}}"><img class="img-circle" src="//wit.wurfl.io/w_150/h_150/m_cropbox/{{userAvatar}}"></a>
			        		<h3 class="tight mts mbn">{{make}} {{model}} <small class="txtM">{{year}}</small></h3>
							<p class="mts mbn">{{description}}</p>
							{{#if place}}
					            <small class="subheader">&mdash;{{place}}</small>
					        {{/if}}
				        </span>
		        	</li>
		            {{#each relatedActivities}}
		            <li>
		                {{>activities}}
		            </li>
		            {{/each}}
		        </ul>
	    	</section>
		</div>
	</div>
</template>