<template name="settings">
    <div class="grid-block">
        <div class="grid-content">

            <section class="block-list">
                <header>Your Settings</header>
                <ul>
                    <li>
                        <span>Push Notifications</span>
                        <div class="switch">
                            <input type="checkbox" id="pushNotifications" checked="{{hasPush}}">
                            <label for="pushNotifications" class="man" id="pushLabel"></label>
                        </div>
                    </li>
                    <li>
                        <span>Connect Facebook</span>
                        <div class="switch">
                            <input type="checkbox" id="connectFB" checked="{{hasFB}}">
                            <label for="connectFB" class="man" id="pushFB"></label>
                        </div>
                    </li>
                    <li>
                        <span>Connect Twitter</span>
                        <div class="switch">
                            <input type="checkbox" id="connectTW" checked="{{hasTW}}">
                            <label for="connectTW" class="man" id="pushFB"></label>
                        </div>
                    </li>
                    <li class="with-chevron"><a href="{{pathFor 'about'}}">About</a></li>
                    <li class="with-chevron"><a href="#" id="logout">Logout</a></li>
                </ul>
            </section>
        </div>
    </div>
</template>
