<template name="garage">
    {{#nav title=profile.name black=true}} {{#if notificationCount}}
    <a href="{{pathFor 'notifications'}}" class="nav-item js-share"><span class="round alert label mts mrs">{{notificationCount}}</span></a> {{/if}} {{/nav}} {{debug}}
    <div class="grid-block shrink whiteSmokeBg">
        <div class="grid-block shrink">
            <div class="grid-content p1rem">
                <div class="image-profile" style="background-image: url('{{profile.picture}}')"></div>
            </div>
        </div>
        <div class="grid-block">
            <div class="grid-content p1rem">
                <p class="mbn avenirBlack">{{profile.name}}</p>
                <p class="mbn">{{profile.location}}Sydney, Australia</p>
            </div>
        </div>
        <div class="grid-block">
            <div class="grid-content shrink">
                {{#if equal currentUser._id _id}}
                <button id="editAccount" class="tiny button hollow primary mvs">Edit Profile</button>
                {{else}} {{#if getFollowStatus _id}}
                <button id="unfollow" class="tiny button hollow primary mvs">Stop Following</button>
                {{else}}
                <button id="follow" class="tiny button hollow primary mvs">Follow</button>
                {{/if}} {{/if}}
            </div>
        </div>
    </div>

    <div class="grid-block shrink scroll-section bbt btt bcLight">
        <div class="tabs">
            <div class="tab-item {{#if isActiveTab 'Info'}}is-active{{/if}}" title="Info">Info</div>
            <div class="tab-item {{#if isActiveTab 'Customs'}}is-active{{/if}}" title="Customs">Customs</div>
            <div class="tab-item {{#if isActiveTab 'Posts'}}is-active{{/if}}" title="Posts">Posts</div>
            <div class="tab-item {{#if isActiveTab 'Likes'}}is-active{{/if}}" title="Likes">Likes</div>
            <div class="tab-item {{#if isActiveTab 'Followers'}}is-active{{/if}}" title="Followers">Followers</div>
            <div class="tab-item {{#if isActiveTab 'Following'}}is-active{{/if}}" title="Following">Following</div>
        </div>
    </div>
    
    <div class="grid-block">
        <div class="tab-contents">
            <div class="tab-content {{#if isActiveTab 'Info'}}is-active{{/if}}" tab="tab">
                {{#if profile.bio}}
                <p class="mbn">{{profile.bio}}</p>
                {{/if}} 
                {{#if profile.website}}
                <p class="mbn">{{profile.website}}</p>
                {{/if}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Customs'}}is-active{{/if}}" tab="tab">
                {{> wheels}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Posts'}}is-active{{/if}}" tab="tab">
                {{> s3_upload}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Likes'}}is-active{{/if}}" tab="tab">
                likes
            </div>
            <div class="tab-content {{#if isActiveTab 'Followers'}}is-active{{/if}}" tab="tab">
                followers
            </div>
            <div class="tab-content {{#if isActiveTab 'Following'}}is-active{{/if}}" tab="tab">
                following
            </div>
        </div>
    </div>



<!--
    <div class="grid-block">
        <div class="grid-content">

            <section class="row text-center pvs mbn">
                <div class="small-3 columns brt bcLight">
                    <h3 class="strong mbn pan veryTight">{{getWheelsCount _id}}</h3><small>Customs</small>
                </div>
                <div class="small-3 columns brt bcLight">
                    <h3 class="strong mbn pan veryTight">{{getMedia _id}}</h3><small>Parts</small>
                </div>
                <div class="small-3 columns brt bcLight">
                    <h3 class="strong mbn pan veryTight">{{getFollowers _id}}</h3><small>Followers</small>
                </div>
                <div class="small-3 columns ">
                    <h3 class="strong mbn pan veryTight">{{getFollowing _id}}</h3><small>Following</small>
                </div>
            </section>



            <div class="content-scrollable static-nav custom-scrollable">
                <button class="button expand mbn js-add-custom fwB absolute bn">ADD NEW CUSTOM</button>
                <div class="list-wheels">
                    {{#each getWheels _id}} {{> myWheels}} {{else}}
                    <div class="wrapper-message">
                        <img class="alternateLogo" src="../img/app/logo-alternate.svg" alt="My Custom" />
                        <div class="title-message">You dont have anything in your Garage yet.</div>
                        <div class="subtitle-message">This is your space to add each of your customs. You will be able to add all the details about your custom build here.
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="content-scrollable static-nav feed-scrollable">
                <button class="button expand mbn js-add-activity fwB absolute bn">ADD NEW PART</button>
                <div class="list-activities">
                    <ul class="small-block-grid-3">
                        {{#each activities}} {{> imageGrid data=this url="activity"}} {{else}}
                        <div class="wrapper-message">
                            <img class="alternateLogo" src="../img/app/logo-alternate.svg" alt="My Custom" />
                            <div class="title-message">Oh no! You dont have any photos in your garage yet.</div>
                            <div class="subtitle-message">This is where you can add additional images about your custom or interesting photos to share with the community.
                            </div>
                        </div>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

</template>

