<template name="garage">
    {{#nav transparent=true}}
        {{#if notificationCount}}
            <a href="{{pathFor 'notifications'}}" class="nav-item js-share"><i class="fa fa-inbox primaryColor"> {{notificationCount}}</i></a>
        {{/if}}
    {{/nav}}
    <div class="grid-block shrink darkBg white">
        <div class="grid-block shrink">
            <div class="grid-content p1rem">
                <div class="image-profile small" style="background-image: url('//wit.wurfl.io/w_150/h_150/m_cropbox/{{profile.picture}}')"></div>
            </div>
        </div>
        <div class="grid-block">
            <div class="grid-content p1rem">
                <p class="mbt tight ">{{profile.name}} <br> {{profile.location}}</p>
                {{#if equal currentUser._id _id}}
                <a id="editAccount" class="fss primary">Edit Profile</a>
                {{else}} {{#if getFollowStatus _id}}
                <a id="unfollow" class="fss primary">Stop Following</a>
                {{else}}
                <a id="follow" class="fss primary">Follow</a>
                {{/if}} {{/if}}
            </div>
        </div>
    </div>

    <div class="grid-block shrink scroll-section bbt btt bcLight">
        <div class="tabs">
            <div class="tab-item {{#if isActiveTab 'Info'}}is-active{{/if}}" title="Info">Info</div>
            <div class="tab-item {{#if isActiveTab 'Customs'}}is-active{{/if}}" title="Customs">Customs</div>
            <div class="tab-item {{#if isActiveTab 'Likes'}}is-active{{/if}}" title="Likes">Likes</div>
            <div class="tab-item {{#if isActiveTab 'Followers'}}is-active{{/if}}" title="Followers">Followers</div>
            <div class="tab-item {{#if isActiveTab 'Following'}}is-active{{/if}}" title="Following">Following</div>
        </div>
    </div>

    <div class="grid-block">
        <div class="tab-contents pan">
            <div class="tab-content p1rem {{#if isActiveTab 'Info'}}is-active{{/if}}" tab="tab">
                {{#if profile.bio}}
                <p class="mbn">{{profile.bio}}</p>
                {{/if}}
                {{#if profile.website}}
                <p class="mbn avenirBlack">{{profile.website}}</p>
                {{/if}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Customs'}}is-active{{/if}}" tab="tab">
                {{> media_partial}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Likes'}}is-active{{/if}}" tab="tab">
                <!-- {{> s3_upload}} -->
                {{> likes}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Followers'}}is-active{{/if}}" tab="tab">
                {{> followers}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Following'}}is-active{{/if}}" tab="tab">
                {{> following}}
            </div>
        </div>
    </div>

</template>

