<template name="garage">
    {{#nav title=profile.name black=true}} {{#if notificationCount}}
    <a href="{{pathFor 'notifications'}}" class="nav-item js-share"><i class="fa fa-inbox primaryColor"> {{notificationCount}}</i></a> 
    {{/if}} 
    {{/nav}}
    <div class="grid-block shrink whiteSmokeBg">
        <div class="grid-block shrink">
            <div class="grid-content p1rem">
                <div class="image-profile small" style="background-image: url('{{profile.picture}}')"></div>
            </div>
        </div>
        <div class="grid-block">
            <div class="grid-content p1rem">
                <p class="mbn avenirBlack">{{profile.name}}</p>
                <p class="mbn">{{profile.location}}Sydney, Australia</p>
            </div>
        </div>
        <div class="grid-block">
            <div class="grid-content shrink">
                {{#if equal currentUser._id _id}}
                <button id="editAccount" class="tiny button hollow primary mvs">Edit Profile</button>
                {{else}} {{#if getFollowStatus _id}}
                <button id="unfollow" class="tiny button hollow primary mvs">Stop Following</button>
                {{else}}
                <button id="follow" class="tiny button hollow primary mvs">Follow</button>
                {{/if}} {{/if}}
            </div>
        </div>
    </div>

    <div class="grid-block shrink scroll-section bbt btt bcLight">
        <div class="tabs">
            <div class="tab-item {{#if isActiveTab 'Info'}}is-active{{/if}}" title="Info">Info</div>
            <div class="tab-item {{#if isActiveTab 'Customs'}}is-active{{/if}}" title="Customs">Customs</div>
            <div class="tab-item {{#if isActiveTab 'Posts'}}is-active{{/if}}" title="Posts">Posts</div>
            <div class="tab-item {{#if isActiveTab 'Likes'}}is-active{{/if}}" title="Likes">Likes</div>
            <div class="tab-item {{#if isActiveTab 'Followers'}}is-active{{/if}}" title="Followers">Followers</div>
            <div class="tab-item {{#if isActiveTab 'Following'}}is-active{{/if}}" title="Following">Following</div>
        </div>
    </div>
    
    <div class="grid-block">
        <div class="tab-contents pan">
            <div class="tab-content p1rem {{#if isActiveTab 'Info'}}is-active{{/if}}" tab="tab">
                {{#if profile.bio}}
                <p class="mbn">{{profile.bio}}</p>
                {{/if}} 
                {{#if profile.website}}
                <p class="mbn avenirBlack">{{profile.website}}</p>
                {{/if}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Customs'}}is-active{{/if}}" tab="tab">
                {{> wheels_partial}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Posts'}}is-active{{/if}}" tab="tab">
                {{> activities}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Likes'}}is-active{{/if}}" tab="tab">
                <!-- {{> s3_upload}} -->
                {{> likes}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Followers'}}is-active{{/if}}" tab="tab">
                {{> followers}}
            </div>
            <div class="tab-content {{#if isActiveTab 'Following'}}is-active{{/if}}" tab="tab">
                {{> following}}
            </div>
        </div>
    </div>

</template>

