<template name="comments">
    {{> nav title='Comments' black=true back=true}}
    <div class="grid-block">
        <section class="block-list with-icons man">
            <ul>
            {{#each this}}
                <li>
                    <img src="{{userAvatar}}" alt="">
                        <span>
                        <span class="avenirBlack">{{userName}}</span>
                        <small class="inlineBlock man pan subheader right"><i class="fa fa-clock-o"></i> {{formatTime date}}</small>
                        {{text}}
                        </span>

                </li>
            {{/each}}
            </ul>
        </section>
    </div>

    <div class="grid-block shrink">
        <div class="grid-content pan">
            <span class="inline-label man">
                <input id="comment" class="man" type="text" placeholder="Enter comment here...">
             <a href="#" class="button" id="submitComment">Comment</a>
            </span>
        </div>
    </div>


</template>
